* {
    font-family: helvetica;
}

@keyframes animation1 {
    from {
        transform: scale(1) rotate(0deg);
        background-color: white;
        color: aqua;
    }
    to {
        transform: scale(1.2) rotate(15deg);
        background-color: aqua;
        color: white;
    }
}

@keyframes reverseAnimation1 {
    from {
        transform: scale(1.2) rotate(15deg);
        background-color: aqua;
        color: white;
      }
      to {
        transform: scale(1) rotate(0deg);
        background-color: white;
        color: aqua;
      }
}

body {
    margin: 0px;
}

.header {
    display: flex; /* W moment */
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    background-color: black;
    color: white;
    height: 60px;
    width: 100%;
    padding: 5px;
}

#aboutMe {
    box-sizing: border-box;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    color: aqua;
}
#aboutMe:hover {
    animation: animation1 1s cubic-bezier(0.19, 1, 0.22, 1);
}

.interactivePart {
    position: relative;
    height: 200px;
    width: 100px;
}

/* Red */
p#red {
    color: red;
}

input#slider1[value="0"] ~ p#red {
    opacity: 0.1;
  }
  input#slider1[value="20"] ~ p#red {
    opacity: 0.3;
  }
  input#slider1[value="40"] ~ p#red {
    opacity: 0.5;
  }
  input#slider1[value="60"] ~ p#red {
    opacity: 0.7;
  }
  input#slider1[value="80"] ~ p#red {
    opacity: 0.9;
  }
  input#slider1[value="100"] ~ p#red {
    opacity: 1;
  }

/* Green */
p#green {
    color: lime;
}
  input#slider2[value="0"] ~ p#green {
    opacity: 0.1;
  }
  input#slider2[value="20"] ~ p#green {
    opacity: 0.3;
  }
  input#slider2[value="40"] ~ p#green {
    opacity: 0.5;
  }
  input#slider2[value="60"] ~ p#green {
    opacity: 0.7;
  }
  input#slider2[value="80"] ~ p#green {
    opacity: 0.9;
  }
  input#slider2[value="100"] ~ p#green {
    opacity: 1;
  }

/* Blue */
p#blue {
    color: cyan;
}
  input#slider3[value="0"] ~ p#blue {
    opacity: 0.1;
  }
  input#slider3[value="20"] ~ p#blue {
    opacity: 0.3;
  }
  input#slider3[value="40"] ~ p#blue {
    opacity: 0.5;
  }
  input#slider3[value="60"] ~ p#blue {
    opacity: 0.7;
  }
  input#slider3[value="80"] ~ p#blue {
    opacity: 0.9;
  }
  input#slider3[value="100"] ~ p#blue {
    opacity: 1;
  }