* {
    font-family: helvetica;
}

@keyframes animation1 {
    from {
        transform: scale(1) rotate(0deg);
        background-color: white;
        color: aqua;
    }
    to {
        transform: scale(1.2) rotate(15deg);
        background-color: aqua;
        color: white;
    }
}

@keyframes reverseAnimation1 {
    from {
        transform: scale(1.2) rotate(15deg);
        background-color: aqua;
        color: white;
      }
      to {
        transform: scale(1) rotate(0deg);
        background-color: white;
        color: aqua;
      }
}

body {
    margin: 0px;
}

.header {
    display: flex; /* W moment */
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    background-color: black;
    color: white;
    height: 60px;
    width: 100%;
    padding: 5px;
}

#aboutMe {
    box-sizing: border-box;
    padding: 7px;
    border-radius: 5px;
    text-decoration: none;
    background-color: white;
    color: aqua;
}
#aboutMe:hover {
    animation: animation1 1s forwards cubic-bezier(0.19, 1, 0.22, 1);
}
#aboutMe:not(:hover) {
    animation: animation1 1s reverse forwards cubic-bezier(0.19, 1, 0.22, 1);
}