* {
    font-family: helvetica;
}

body {
    margin: 0px;
}

.header {
    display: flex; /* The king */
    justify-content: space-around;
    align-items: center;
    box-sizing: border-box;
    position: sticky;
    height: 50px;
    width: 100%;
    top: 0;
    margin: 0px;
    padding: 5px;
}